ul.menu
  li
    a(class="btn btn-primary" href=`/${admin}`) Tổng Quan
  li
    a(class="btn btn-primary" href=`/${admin}/accounts`) Tài khoản 
  li
    a(class="btn btn-primary" href=`/${admin}/roles`) Vai Trò